# Environment
NODE_ENV=development
PORT=0000

# Database
MONGODB_URI=your_mongodb_connection_string

# Authentication
JWT_SECRET=your_jwt_secret

# Frontend URL
FRONT_BASE_URL=http://localhost:5173

# Google OAuth
OAUTH_CLIENT_ID=your_google_oauth_client_id
OAUTH_CLIENT_SECRET=your_google_oauth_client_secret